
sudo: required
language: python
services:
- docker

script:
- docker image build -t yariski/dockertest .

after_success:
  #log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #take built images and push to DOcker hub
  - docker push yariski/dockertest
  #test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "dtest"
  env: "Dtest-env"
  bucket_name: "elasticbeanstalk:us-east-2"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY